<template>
  <svg id="Layer_1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 216 216" style="enable-background:new 0 0 216 216;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#FFFFFF;}
	.st1{fill:#005F9E;}
	.st2{fill:#EF373E;}
</style>
<g>
	<circle class="st0" cx="107.8" cy="108.1" r="108"/>
	<path class="st1" d="M20.5,110l-7.9-0.3c-2.1-0.1-5.7-0.8-5.7-6v-4.3c0-5.3,2.7-6.8,7-6.8h7.7c4.3,0,7,1.5,7,6.8v1.8h-8.2
		c0-1.4-0.5-2.2-1-2.6c-0.6-0.4-1.3-0.5-1.6-0.5c-0.6,0-1.3,0.3-1.8,0.8c-0.5,0.5-0.8,1.3-0.8,2.8v2l7,0.3c2.4,0.1,3.8,0.4,5,1.6
		c1.4,1.4,1.5,2.9,1.5,4v4.3c0,5.3-2.8,6.8-7,6.8h-8.2c-4.1,0-7-1.4-7-6.8v-1.5H15c0,0.9,0.2,1.6,0.7,2c0.5,0.5,1.1,0.8,1.9,0.8
		c1.8,0,2.9-1.4,2.9-3.2V110z"/>
	<path class="st1" d="M69.1,92.8h8.3v11.1h5.6V92.8h8.3v27.5H83v-10.8h-5.6v10.8h-8.3V92.8z"/>
	<path class="st1" d="M94.7,92.8h8.3v21.8h7.1v5.7H94.7V92.8z"/>
	<path class="st1" d="M134,92.8v21c0,5.3-2.8,6.8-7,6.8h-8c-4.1,0-7-1.3-7-6.8v-21h8.3v17.9c0,1.8,0,4.4,3,4.4
		c2.9,0,2.9-2.5,2.9-4.4V92.8H134z"/>
	<path class="st1" d="M151.4,92.8c4.7,0,7,1.5,7,6.9c0,5-2.4,6.2-4.7,6.9v0.1c4.5,0.8,4.9,4.3,4.9,6.7c0,5.5-2.5,7-7,7h-15.3V92.8
		H151.4z M144.7,98.4v5.2h2.2c3.1,0,3.2-2.3,3.2-2.7c0-1.2-0.8-2.5-3-2.5H144.7z M144.7,108.9v5.7h1.7c0.7,0,3.9,0,3.9-2.9
		c0-0.9-0.4-2.9-3.3-2.9H144.7z"/>
	<path class="st1" d="M174.6,110l-7.9-0.3c-2.1-0.1-5.7-0.8-5.7-6v-4.3c0-5.3,2.7-6.8,7-6.8h7.7c4.3,0,7,1.5,7,6.8v1.8h-8.2
		c0-1.4-0.5-2.2-1-2.6c-0.6-0.4-1.3-0.5-1.6-0.5c-0.6,0-1.3,0.3-1.8,0.8c-0.5,0.5-0.8,1.3-0.8,2.8v2l7,0.3c2.4,0.1,3.8,0.4,5,1.6
		c1.4,1.4,1.5,2.9,1.5,4v4.3c0,5.3-2.8,6.8-7,6.8h-8.2c-4.1,0-7-1.4-7-6.8v-1.5h8.3c0,0.9,0.2,1.6,0.7,2c0.5,0.5,1.1,0.8,1.9,0.8
		c1.8,0,2.9-1.4,2.9-3.2V110z"/>
	<g>
		<path class="st2" d="M107.6,180.6c-19.4,0-37.6-7.5-51.3-21.2c-13.7-13.7-21.2-31.9-21.2-51.3c0-19.4,7.5-37.6,21.2-51.3
			C70,43.1,88.3,35.6,107.6,35.6c24.6,0,47.3,12.3,60.8,32.9l0.6,1l-22.2,14.9l-0.7-1c-1.8-2.8-3.8-5.3-6.2-7.7
			c-8.6-8.6-20.1-13.4-32.4-13.4c-12.2,0-23.7,4.8-32.4,13.4c-8.6,8.6-13.4,20.1-13.4,32.4s4.8,23.7,13.4,32.4
			c8.6,8.6,20.1,13.4,32.4,13.4c12.2,0,23.7-4.8,32.4-13.4c2.3-2.3,4.4-4.9,6.2-7.7l0.7-1l22.2,14.9l-0.6,1
			C154.9,168.3,132.2,180.6,107.6,180.6z"/>
		<path class="st1" d="M107.6,36.8c25,0,47.1,12.9,59.8,32.4l-20.2,13.6c-1.8-2.8-3.9-5.4-6.3-7.8c-8.9-8.9-20.7-13.8-33.2-13.8
			S83.3,66,74.4,74.9c-8.9,8.9-13.8,20.7-13.8,33.2s4.9,24.3,13.8,33.2c8.9,8.9,20.7,13.8,33.2,13.8s24.3-4.9,33.2-13.8
			c2.4-2.4,4.5-5,6.3-7.8l20.2,13.6c-12.7,19.5-34.7,32.4-59.8,32.4c-39.4,0-71.3-31.9-71.3-71.3S68.2,36.8,107.6,36.8 M107.6,34.4
			c-9.9,0-19.6,1.9-28.7,5.8c-8.8,3.7-16.7,9-23.4,15.8c-6.8,6.8-12.1,14.7-15.8,23.4c-3.8,9.1-5.8,18.7-5.8,28.7s1.9,19.6,5.8,28.7
			c3.7,8.8,9,16.7,15.8,23.4c6.8,6.8,14.7,12.1,23.4,15.8c9.1,3.8,18.7,5.8,28.7,5.8c6.3,0,12.6-0.8,18.7-2.4
			c5.9-1.5,11.6-3.8,16.9-6.8c10.5-5.8,19.5-14.2,26.1-24.3l1.3-2l-1.9-1.3l-20.2-13.6l-2-1.3l-1.3,2c-1.7,2.7-3.8,5.2-6,7.5
			c-8.4,8.4-19.6,13.1-31.5,13.1c-11.9,0-23.1-4.6-31.5-13.1c-8.4-8.4-13.1-19.6-13.1-31.5S67.7,85,76.1,76.6
			c8.4-8.4,19.6-13.1,31.5-13.1c11.9,0,23.1,4.6,31.5,13.1c2.3,2.3,4.3,4.8,6,7.5l1.3,2l2-1.3l20.2-13.6l1.9-1.3l-1.3-2
			c-6.6-10.1-15.6-18.5-26.1-24.3c-5.3-3-11-5.2-16.9-6.8C120.3,35.2,114,34.4,107.6,34.4L107.6,34.4z"/>
	</g>
	<path class="st1" d="M107.8,5.5c-48.7,0-89.6,34-100,79.6h23.4c0.8-2.7,1.8-5.4,2.9-8.1c4-9.5,9.8-18.1,17.1-25.4
		c7.3-7.3,15.9-13.1,25.4-17.1c9.8-4.2,20.3-6.3,31.1-6.3s21.3,2.1,31.1,6.3c9.5,4,18.1,9.8,25.4,17.1c7.3,7.3,13.1,15.9,17.1,25.4
		c4.2,9.8,6.3,20.3,6.3,31.1s-2.1,21.3-6.3,31.1c-4,9.5-9.8,18.1-17.1,25.4c-7.3,7.3-15.9,13.1-25.4,17.1
		c-9.8,4.2-20.3,6.3-31.1,6.3s-21.3-2.1-31.1-6.3c-9.5-4-18.1-9.8-25.4-17.1c-7.3-7.3-13.1-15.9-17.1-25.4
		c-1.5-3.6-2.8-7.4-3.8-11.1H7.1c9.3,47.1,50.8,82.6,100.7,82.6c56.7,0,102.6-45.9,102.6-102.6S164.4,5.5,107.8,5.5z"/>
	<g>
		<path class="st1" d="M164.6,126.6h4.9v1.3H168v5h-1.9v-5h-1.5V126.6z"/>
		<path class="st1" d="M170.4,126.6C170.5,126.6,170.5,126.6,170.4,126.6l2.8,0l0.8,2.6h0l0.8-2.6h2.8v6.3h-1.9v-4.2h0l-1.3,4.2
			h-0.9l-1.3-4.2h0v4.2h-1.9V126.6z"/>
	</g>
</g>
</svg>

</template>

<style>
.nuxt-logo {
  height: 180px;
}
</style>
